
<dir class="bootstrap-wrapper">
  <div class="container">
    <div class="row" mt20>
      <div class="col-md-6 offset-md-3">
        <mat-card class="card">
          <h1 class="text-center">Verify Your Email !!</h1>
          <div class="alert alert-info text-center" role="alert">
            We have sent a OTP to your email address.....
          </div>

          <!-- {{ verifyOTP | json }} -->
          <form (ngSubmit)="formSubmit()">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Enter Your OTP</mat-label>
              <input
              [(ngModel)]="verifyOtp.otp"
                name="otp"
                required
                matInput
                placeholder="Enter OTP Here"
              />
            </mat-form-field>

            <div class="container text-center">
              <button type="submit" mat-raised-button color="warn">
                Verify
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</dir>
