<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 20px">
      <div class="col-md-6 offset-md-3">
        <mat-card class="bg-app mat-elevation-z0">
          <mat-card-title class="text-center"
            >Upload Product Image</mat-card-title
          >

          <form (ngSubmit)="sendId()">
            <table>
              <tr>
                <td>
                  <mat-form-field
                    class="input"
                    appearance="outline"
                    style="font-size: 11px"
                  >
                    <mat-label>Enter Product Id</mat-label>
                    <input
                      matInput
                      placeholder="Enter Product Id"
                      [(ngModel)]="prodId"
                      name="category-id"
                    />
                  </mat-form-field>
                </td>
                <td>
                  <button
                    mat-stroked-button
                    class="success ml30"
                    style="margin-top: 5px"
                  >
                    Get
                  </button>
                </td>
              </tr>
            </table>
          </form>

          <form class="example-form" *ngIf="action" >
            <mat-form-field
              class="example-full-width mt30"
              appearance="outline"
            >
              <mat-label></mat-label>
              <input
                [(ngModel)]="prodTitle"
                name="category-title"
                matInput
                placeholder="Enter Categort Title"
                disabled
              />
            </mat-form-field>
            <div>
              <input type="file" class="form-control" id="customFile" (change)="selectFile($event)" />
            </div>
            <mat-card-actions class="text-center">
              <button mat-stroked-button class="warning mt10" type="submit" (click)="uploadFile(prodId)">
                UPLOAD
              </button>
              <button mat-stroked-button color="warn" class="" type="reset">
                CLEAR
              </button>
            </mat-card-actions>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
