<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button class="button" mat-list-item  routerLink="/admin">
            <mat-icon mat-list-icon>home</mat-icon>Home
        </button>
        <button class="button" mat-list-item routerLink="/admin/category/all">
            <mat-icon mat-list-icon>category</mat-icon>All Category
        </button>
        <button class="button" mat-list-item routerLink="/admin/category/add">
            <mat-icon mat-list-icon>add_task</mat-icon>Add Category
        </button>
        <button class="button" mat-list-item routerLink="/admin/category/update">
            <mat-icon mat-list-icon>auto_mode</mat-icon>Update Category
        </button>
        <button class="button" mat-list-item routerLink="/admin/category/delete">
            <mat-icon mat-list-icon>delete</mat-icon>Delete Category
        </button>
        <button class="btn-warning" mat-list-item (click)="logout()">
            <mat-icon mat-list-icon>logout</mat-icon>Logout
          </button>
    </mat-action-list>
</mat-card>    