.bg-app{
    background-color: #FBFCFC;
 }

 .input{
    margin-top: 20px;
    margin-left: 80px;
}

.success{
    color: #2ECC71;
 }
 .success:hover{
   background-color: #D5F5E3;
 }

 .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .warning{
    color: #FBC02D;
  }
  
  .warning:hover{
    background-color: #FCF3CF;
  }